
body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a {
    color: white;
}

a :hover{
    color: blue;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(0,0,255);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: blue;
    color: white;
}

h1 {
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

h2 {
    font-size: 46px;
    line-height: 10px;
    font-family: poppismedim;
}

span {
    color:blue;
}

.texto {
    font-size: 18px;
    text-align: justify;
    margin-top: 20px;
    line-height: 1.6;
}

p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.imagem-container {
    text-align: center;
}

.imagem {
    height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.texto {
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}


footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
